/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

main {
    padding-top: 4em;
}
img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-3 {
    margin-bottom: 3em;
}

/* PAGE STRUCTURE */

.container {
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.ms-3 {
    margin: 0 3em;
}

/* BUTTON */
.nav-btn {
    display: inline-block;
}

.btn-blue {
    background-color: #0061ff;
    color: white;
}

.btn {
    padding: .8em 1em;
    font-size: .8em;
}

.banner-btn {
    display: block;
    padding-bottom: 1.5em;
}

.col-btn {
    display: block;
    padding-bottom: 3em;
}

.e-btn {
    padding: .8em 4.5em;
    font-size: .7em;
}

.btn-contact {
    border: 1px solid black;
    color: black;

}

/* HEADER */

header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: white;
}

.header-nav {
    color: black;
    font-size:.8em;
    line-height: 60px;
    font-weight: 500;
}

.nav-logo img {
    width: auto;
    height: 20px;
    vertical-align: middle;
    margin-left: 1em;
}

.nav-logo {
    width: 15%;
}

.nav-btn {
    width: 10%;
}

.nav-logo, .nav-center, .nav-btn{
    float: left;
}

.menu-left {
    float: left;
}

.menu-right {
    float: right;
}

.nav-btn {
    text-align: center;
}

.nav-btn a {
    line-height: normal;
}

.nav-center {
    width: 75%;
    text-align: center;
}

.nav-center .menu-left li,
.nav-center .menu-right li {
    margin: 0 1em;
    display: inline-block;
}

.nav-center .menu-left a,
.nav-center .menu-right a {
    font-size: .7em;
    font-weight: 400;
    color: inherit;
}

.nav-center .menu-left li:hover,
.nav-center .menu-right li:hover {
    border-bottom: 3px solid black;
}


/* MAIN */

/* BANNER */

.banner {
    background-color: rgb(180, 208, 231);
    width: 100%;
    margin-bottom: 15em;
    height: 600px;
}

.banner-content {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.banner-title {
    font-size: 4em;
    font-weight: 700;
    padding: 1em 0 1em;
}

.banner-text {
    float: left;
    width: 40%;
    padding-bottom: 2em;
}

.banner-t {
    font-size: .9em;
    width: 80%;
}

.banner-img {
    float: right;
    width: 60%;
}

.black > a {
    padding-top: .5em;
    font-size: 2em;
    color: #000000;
    display: block;
}

/* PAYMENT */

.payment {
    /* background-color: blue; */
    width: 100%;
    margin-bottom: 3em;
}

.payment-title {
    margin-bottom: 2em;
}

.checkbox-e {
    margin-right: 1em;
}
.checkbox {
    margin-bottom: 2em;
}
/* COLUMN */

.col-content {
    padding-top: 1em;
    width: 80%;
    margin: 0 auto;
}

.price {
    font-weight: bold;
}

.col-top i {
    padding-right: .4em;
}

.col-container i {
    padding-right: .2em;
}

.col {
    float: left;
    /* background-color: bisque; */
    width: calc(33.333% - 2em);
    border: 1px #808080 solid;
    min-height: 1300px;
}

}

.col-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 2em;
    font-size: .9em;
}

.col-top {
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    border-bottom: 1px solid #808080;
}

.frequency {
    color: #808080;
    font-size: .8em;
}

.or {
    padding-bottom: 2em;
    border-bottom:1px solid #808080;
    display: inline;
}

.plan-point {
    padding: 4em 0 10em;
    width: 100%;
}

.point-title {
    padding-bottom: 1em;
}

.plan-point ul {
    list-style-image: url(../img/check-solid.svg);
    width: 85%;
    margin: 0 auto;
    line-height: 2em;
}


/* TEAM */
.team {
    margin-bottom: 5em;
}

.col-link {
    text-decoration: underline;
    color: #0061ff;
}

/* ENTERPRISE */

.enterprise {
    width: 100%;
    /* background-color: brown; */
    margin-bottom: 6em;
}

.e-title i {
    padding: .2em;
}

.enterprise-title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid lightgray;
    padding: .5em 0;
}

.enterprise-p {
    font-size: .7em;
}

.enterprise-text {
    border: 1px solid lightgray;
    width: 100%;
}

.e-text {
    float: left;
    line-height: 3em;
    margin: 2em 0 1em 1em;
    width: 60%;
}

.e-button {
    float: right;
    margin: 2em 2em 0 0;
}

/* PARTNER-CONTACT */

.partner-contact {
    padding-bottom: 8em;
}

.partner {
    width: 100%;
    /* background-color: darkgreen; */
}

.partner-img {
    width: 50%;
    float: left;
}

.partner-text {
    width: calc(50% - 3em);
    margin: 2em 0 0 3em;
    float: left;
}

.partner-p {
    padding: 2em 0 3em;
    font-size: .9em;
}

/* OPERATIONS */

.operations {
    background-color: chocolate;
    width: 100%;
    margin-bottom: 6em;
}

.raw {
    margin-bottom: 5em;
}

.raw-col {
    float: left;
    height: 400px;
    background-color: deepskyblue;
    width: calc(33.333% - 1.3333em);
}

.ms-2 {
    margin: 0 2em;
}

/* USER */

.user {
    background-color: thistle;
    width: 100%;
}

.side-block {
    float: left;
    background-color: brown;
    height: 400px;
    width: 30%;
}

.text-c {
    float: left;
    height: 400px;
    width: 40%;
    background-color: aquamarine;
}

.block-row {
    background-color: aqua;
    width: 100%;
    height: 50%;
}

.block-1 {
    height: 100%;
    width: 50%;
    float: left;
    background-color: burlywood;
}

.block-2 {
    height: 100%;
    width: 50%;
    float: left;
    background-color: green;
}

.free-trial {
    background-color: darkorchid;
    height: 300px;
    width: 100%;
    margin-bottom: 4em;
}

/* QUESTIONS */

.questions {
    background-color: dodgerblue;
    width: 100%;
    height: 500px;
    margin-bottom: 8em;
}

/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: 400px;
}
