/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    scroll-behavior: smooth;
}

main {
    padding-top: 4em;
}
img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-3 {
    margin-bottom: 3em;
}

/* PAGE STRUCTURE */

.container {
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.ms-3 {
    margin: 0 3em;
}

/* BUTTON */
.nav-btn {
    display: inline-block;
}

.btn-blue {
    background-color: #0061ff;
    color: white;
}

.btn {
    padding: .8em 1em;
    font-size: .8em;
}

.banner-btn {
    display: block;
    padding-bottom: 1.5em;
}

.col-btn {
    display: block;
    padding-bottom: 3em;
}

.e-btn {
    padding: .8em 4.5em;
    font-size: .7em;
}

.btn-contact {
    border: 1px solid black;
    color: black;

}

.btn-freetrial {
    color: black;
    background-color: white;
    padding: .8em 3em;
    display: inline-block;
}

/* HEADER */

header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 100;
}

.header-nav {
    color: black;
    font-size:.8em;
    font-weight: 500;
}

.nav-logo img {
    width: auto;
    height: 20px;
    vertical-align: middle;
    margin-left: 1em;
}

.nav-logo {
    width: 15%;
    margin-top: 1.5em;
}

.nav-btn {
    width: 10%;
    margin-top: 1.5em;
}

.nav-logo, .nav-center, .nav-btn{
    float: left;
}

.menu-left {
    float: left;
}

.menu-right {
    float: right;
}

.nav-btn {
    text-align: center;
}

.nav-btn a {
    line-height: normal;
}

.nav-center {
    width: 75%;
    text-align: center;
}

.nav-center .menu-left li,
.nav-center .menu-right li {
    margin: 0 1em;
    display: inline-block;
    position: relative;
}

.nav-center .menu-left a,
.nav-center .menu-right a {
    font-size: .7em;
    font-weight: 400;
    color: inherit;
    line-height: 60px;
}

/* .menu-left, .menu-right > ul.menu a {
    line-height: 60px;
} */

.nav-center .menu-left li:hover,
.nav-center .menu-right li:hover {
    border-bottom: 3px solid black;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem;
    width: 15rem;
    background-color: white;
    display: none;
    line-height: 2em;
    font-size: .8em;
    text-align: left;
}

.menu-right > ul.menu > li:hover .sub-menu {
    display: block;
}

/* MAIN */

/* BANNER */

.banner {
    background-color: rgb(180, 208, 231);
    width: 100%;
    margin-bottom: 15em;
    height: 600px;
}

.banner-content {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.banner-title {
    font-size: 4em;
    font-weight: 700;
    padding: 1em 0 1em;
}

.banner-text {
    float: left;
    width: 40%;
    padding-bottom: 2em;
}

.banner-t {
    font-size: .9em;
    width: 80%;
}

.banner-img {
    float: right;
    width: 60%;
}

.black > a {
    padding-top: .5em;
    font-size: 2em;
    color: #000000;
    display: block;
}

/* PAYMENT */

.payment {
    /* background-color: blue; */
    width: 100%;
    margin-bottom: 3em;
}

.payment-title {
    margin-bottom: 2em;
}

.checkbox-e {
    margin-right: 1em;
}
.checkbox {
    margin-bottom: 2em;
}
/* COLUMN */

.col-content {
    padding-top: 1em;
    width: 80%;
    margin: 0 auto;
}

.price {
    font-weight: bold;
}

.col-top i {
    padding-right: .4em;
}

.col-container i {
    padding-right: .2em;
}

.col {
    float: left;
    /* background-color: bisque; */
    width: calc(33.333% - 2em);
    border: 1px #808080 solid;
    min-height: 1300px;
}

.col-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 2em;
    font-size: .9em;
}

.col-top {
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    border-bottom: 1px solid #808080;
}

.frequency {
    color: #808080;
    font-size: .8em;
}

.or {
    padding-bottom: 2em;
    border-bottom:1px solid #808080;
    display: inline;
}

.plan-point {
    padding: 4em 0 10em;
    width: 100%;
}

.point-title {
    padding-bottom: 1em;
}

.plan-point ul {
    line-height: 2.5em;
}

li > span {
    color: blue;
}


/* TEAM */
.team {
    margin-bottom: 5em;
}

.col-link {
    text-decoration: underline;
    color: #0061ff;
}

/* ENTERPRISE */

.enterprise {
    width: 100%;
    /* background-color: brown; */
    margin-bottom: 6em;
}

.e-title i {
    padding: .2em;
}

.enterprise-title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid lightgray;
    padding: .5em 0;
}

.enterprise-p {
    font-size: .7em;
}

.enterprise-text {
    border: 1px solid lightgray;
    width: 100%;
}

.e-text {
    float: left;
    line-height: 3em;
    margin: 2em 0 1em 1em;
    width: 60%;
}

.e-button {
    float: right;
    margin: 2em 2em 0 0;
}

/* PARTNER-CONTACT */

.partner-contact {
    padding-bottom: 8em;
}

.partner {
    width: 100%;
    /* background-color: darkgreen; */
}

.partner-img {
    width: 50%;
    float: left;
}

.partner-text {
    width: calc(50% - 3em);
    margin: 2em 0 0 3em;
    float: left;
}

.partner-p {
    padding: 2em 0 3em;
    font-size: .9em;
}

/* OPERATIONS */

.operations {
    /* background-color: chocolate; */
    width: 100%;
    margin-bottom: 10em;
}

.operations-title {
    padding-bottom: 2em;
    font-size: 2em;
}

.row {
    margin-bottom: 5em;
}

.row-col {
    float: left;
    /* background-color: deepskyblue; */
    width: calc(33.333% - 1.3333em);
}

.title-col-text {
    font-size: 1.4em;
    margin-bottom: 1em;
}

.p-col-text {
    font-size: .9em;
}

.dropbox-underline {
    text-decoration: underline;
}

.ms-2 {
    margin: 0 2em;
}

/* USER */

.user {
    /* background-color: thistle; */
    width: 100%;
}

.user-top {
    width: 60%;
    padding-bottom: 3em;
}

.user-title {
    font-size: 2.5em;
    padding-bottom: 1em;
}

.user-link {
    color: blue;
    text-decoration: underline;
}

.side-block {
    float: left;
    /* background-color: brown; */
    height: 50vh;
    width: 25%;
}

.text-c {
    float: left;
    width: 50%;
    background-color: rgb(245, 245, 245);
    overflow: auto;
    height: 50vh;
}

.logo-designit {
    width: 30%;
    padding-bottom: 1.5em;
    border-bottom: 1px solid lightgray;
}

.p-designit {
    font-size: .8em;
    font-weight: 600;
    margin: 1.5em 0 2.5em;
}

.author-designit {
    font-size: .8em;
}

.mtl-2 {
    margin: 2em 0 0 2em;
}

.block-row {
    /* background-color: aqua; */
    width: 100%;
    height: 50%;
}

.block {
    height: 100%;
    width: 50%;
    float: left;
    background-color: burlywood;
    position: relative;
}


.block-row img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.box-block {
    width: 85%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(162, 211, 155);
}

/* BLOCK COLOR */

#green {
    background-color: rgb(208, 233, 205);
}

#bordeaux {
    background-color: rgb(97, 8, 43);
}

#skyblue {
    background-color: rgb(0, 147, 206);
}

#red {
    background-color: rgb(255, 28, 28);
}

#crimson {
    background-color: rgb(213, 0, 31);
}

#lightblue {
    background-color: rgb(180, 208, 231);
}

#blue {
    background-color: rgb(13, 36, 129);
}

#yellow {
    background-color: rgb(255, 216, 48);
}

.free-trial {
    background-color: rgb(180, 208, 231);
    width: 100%;
    margin-bottom: 4em;
    padding: 6em 0;
}

.trial-text, .trial-btn {
    float: left;
}

.trial-text {
    margin: 0 auto;
    width: 60%;
    font-size: 1.5em;
    color: rgb(97, 8, 43);
}

.trial-btn {
    width: 40%;
    padding-left: 20%;
    font-size: .8em;
}

/* QUESTIONS */


.questions {
    /* background-color: dodgerblue; */
    width: 100%;
    margin-bottom: 8em;
}

.q-title {
    padding: 2em 0;
}

.p-question {
    display: none;
    padding-top: 1em;
}

.q-item:hover .p-question {
    display: block;
}

.q-item {
    padding: 3em 0;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.bt {
    border-top: 1px solid lightgray;
}


.q-list {
    float: left;
}

.mt-3 {
    margin-top: 3em;
}

.angle-down {
    text-align: right;
    float: right;
}
/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    /* height: 400px; */
}

.footer-title {
    padding: 1.5em 0;
    color: white;
}

.footer-top {
    width: 80%;
    /* background-color: red; */
    margin: 0 auto;
    padding: 2em 0 6em;
}

.footer-container {
    /* background-color: #808080; */
    width: 20%;
    float: left;
}

.footer-list {
    font-size: .9em;
    line-height: 2em;
}

.footer-list a {
    color: white;
}

.footer-bottom {
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 3em 0;
}

.footer-language {
    padding-top: 3em;
    border-top: 1px solid lightgray;
}

.angle-up {
    padding-left: .5em;
}



