/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

main {
    padding-top: 4em;
}
img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* PAGE STRUCTURE */

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    background-color: bisque;
    height: 800px;
    width: calc(33.333% - 2em);
}

.ms-3 {
    margin: 0 3em;
}

/* BUTTON */
.nav-btn {
    display: inline-block;
}

.btn-blue {
    background-color: #0061ff;
    color: white;
}

.btn {
    padding: .8em 1em;
    font-size: .8em;
}

.banner-btn {
    display: block;
    padding-bottom: 1.5em;
}

/* HEADER */

header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: white;
}

.header-nav {
    color: black;
    font-size:.8em;
    line-height: 60px;
    font-weight: 500;
}

.nav-logo img {
    width: auto;
    height: 20px;
    vertical-align: middle;
    margin-left: 1em;
}

.nav-logo {
    width: 15%;
}

.nav-btn {
    width: 10%;
}

.nav-logo, .nav-center, .nav-btn{
    float: left;
}

.menu-left {
    float: left;
}

.menu-right {
    float: right;
}

.nav-btn {
    text-align: center;
}

.nav-btn a {
    line-height: normal;
}

.nav-center {
    width: 75%;
    text-align: center;
}

.nav-center .menu-left li,
.nav-center .menu-right li {
    margin: 0 1em;
    display: inline-block;
}

.nav-center .menu-left a,
.nav-center .menu-right a {
    font-size: .7em;
    font-weight: 400;
    color: inherit;
}

.nav-center .menu-left li:hover,
.nav-center .menu-right li:hover {
    border-bottom: 3px solid black;
}


/* MAIN */

/* BANNER */

.banner {
    background-color: rgb(180, 208, 231);
    width: 100%;
    margin-bottom: 15em;
    height: 95vh;
}

.banner-content {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.banner-title {
    font-size: 4em;
    font-weight: 700;
    padding: 1em 0 1em;
}

.banner-text {
    float: left;
    width: 40%;
    padding-bottom: 2em;
}

.banner-t {
    font-size: .9em;
    width: 80%;
}

.banner-img {
    float: right;
    width: 60%;
}

.black {
    padding-top: .5em;
    font-size: 2em;
    color: #000000;
    display: block;
}

/* PAYMENT */

.payment {
    background-color: blue;
    width: 100%;
    margin-bottom: 3em;
}

/* TEAM */
.team {
    margin-bottom: 5em;
}

/* ENTERPRISE */

.enterprise {
    width: 100%;
    background-color: brown;
    height: 150px;
    margin-bottom: 6em;
}

/* PARTNER */

.partner {
    width: 100%;
    background-color: darkgreen;
    height: 400px;
}

/* OPERATIONS */

.operations {
    background-color: chocolate;
    width: 100%;
    margin-bottom: 6em;
}

.raw {
    margin-bottom: 5em;
}

.raw-col {
    float: left;
    height: 400px;
    background-color: deepskyblue;
    width: calc(33.333% - 1.3333em);
}

.ms-2 {
    margin: 0 2em;
}

/* USER */

.user {
    background-color: thistle;
    width: 100%;
}

.side-block {
    float: left;
    background-color: brown;
    height: 400px;
    width: 30%;
}

.text-c {
    float: left;
    height: 400px;
    width: 40%;
    background-color: aquamarine;
}

.block-row {
    background-color: aqua;
    width: 100%;
    height: 50%;
}

.block-1 {
    height: 100%;
    width: 50%;
    float: left;
    background-color: burlywood;
}

.block-2 {
    height: 100%;
    width: 50%;
    float: left;
    background-color: green;
}

.free-trial {
    background-color: darkorchid;
    height: 300px;
    width: 100%;
    margin-bottom: 4em;
}

/* QUESTIONS */

.questions {
    background-color: dodgerblue;
    width: 100%;
    height: 500px;
    margin-bottom: 8em;
}

/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: 400px;
}
